#root {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.App {
  min-height: 500px;
  text-align: center;
}

.chat {
  height: 90%;
}

.btn-delete {
  width: 1rem;
  height: 1rem;
  background: url('./assets/trashcan.svg') no-repeat center center;
}